.site-wrapper {
    width: 95%;
    max-width: 900px;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#qb-wrapper img {
    width: 100%;
    margin-bottom: 20px;
}

#id_quote_text {
    width: 50%;
    height: 50px;
}

#form-qb input, #form-qb textarea {
    display: block;
    margin: 5px 0 15px 0;
}

form > label[for=id_background_color_0], form > label[for=id_text_color], form > label[for=id_quote_font_size_0], form > label[for=id_width], form > label[for=id_text_color_0] {
    margin-top: 40px;
    display: block;
}

#form-qb textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#id_background_color li, #id_quote_font_size li, #id_text_color li {
    padding: 0px 10px;
    list-style-type: none;
    display: inline-block;
}

.custom_input, label[for=id_background_color_custom], label[for=id_quote_font_size_custom], label[for=id_text_color_custom] {
    margin-left: 40px !important;
}

#form-qb ul input {
    display: inline;
}